{% extends "base.html" %}

{% block content %}
<div>


<form action='' method="POST">
<p>Game Title  <input type = "text" name = "title" /> </p>
<p><input type = "submit" value = "Submit" /></p>

 {% with messages = get_flashed_messages() %}
        {% if messages %}
            <!--<div class="notification is-danger"> -->
            <div>
                {{ messages[0] }}. Go to <a href="{{ url_for('games') }}">games page</a>.
            </div>
         
            <div>
              {{game}}
            </div>

        {% endif %}
        {% endwith %}





</div>


{% endblock %}

