 {% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
<h3 class="title">Add Game</h3>
<div class="box">
 
    <form action='' method="POST" >
            <div class="field">
              <input type="text" class="input is-large" placeholder="Title" id="title" name="title" required="">
          </div>
		  
            <div class="field">
              <input type="text" class="input is-large" placeholder="Platform" id="platform" name="platform"  required="">
            </div>
            
	   <div class="field">
              <input type="number" class="input is-large" placeholder="Score" rows="4" id="score" name="score" required="">
            </div>
            <div class="field">
              <input type="text" class="input is-large" placeholder="Genre" id="genre" name="genre" required="">
            </div>
           <div class="field">
                     <label for="editors_choice" color="#dbdbdb"><b>Editors Choice</b></label>

			  <select id="editors_choice" name="editors_choice">
			   	
				<option value="Y">Y</option>
				<option value="N">N</option>
			 </select>
	   </div>		
                     
                         <input type="submit"  class="button is-block is-info is-large is-fullwidth" value="Submit">
                      
          </form>
		  
<!--		  <style>
 
 
 .title,.platform,.genre,.score,.editors_choice {
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 10px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

</style>

-->
        </div>
	
</div>

{% endblock %}


